
@keyframes dancing_image {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes dancing_card {
    0% {
        transform: translate(200px, -60px);
    }

    50% {
        transform: translate(180px, -40px);
    }

    100% {
        transform: translate(200px, -60px);
    }
}


@keyframes slidIn_from_left {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }
   

    100% {
        transform: translate(0);
}

}

@keyframes slidIn_from_right {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(30px);
    }
   

    100% {
        transform: translate(0);
}

}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        box-shadow: 0px 0px 10px 10px rgba(154, 191, 22, 0.17);
                
    }
   

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

}




.slidIn_from_left {
    animation-name: slidIn_from_left;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    /* transition: 1s; */
}

.slidIn_from_right {
    animation-name: slidIn_from_right;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.glowing {
    animation-name: glowing;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}