                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title> OneHub :: PORTFOLIO </title>

    <!-- Site Favicon -->
    <link rel="shortcut icon" href="../favicon.png">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CSS Animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="../scripts/css/main.css">
    <link rel="stylesheet" href="../scripts/css/res.css">
    <link rel="stylesheet" href="../scripts/css/animation.css">

</head>
<body class="">

        <div class="dashboard_mobile_sideNav">

                <div class="site_title_mobile">
                    <div>
                    <h5>
                        savesimple <sup> &reg; </sup>
                    </h5>
                </div>

                <div class="dash_close_nav_btn">
                        <span>&times;</span>
                    </div>
                </div>
        
                <div class="nav_menu">
        
                    <div class="navigation_title_text">
                    <p>
                        NAVIGATION
                    </p>
                    </div>
        
                    <!-- <div class="navs"> -->
                        <a href="#" class="active">
                            DASHBOARD
                        </a>
                    <!-- </div> -->
                    <!-- <div class="navs"> -->
                        <a href="#">
                            SAVINGS
                        </a>
                    <!-- </div> -->
                    <!-- <div class="navs"> -->
                        <a href="#">
                            INVESTMENTS
                        </a>
                    <!-- </div> -->
                    <!-- <div class="navs"> -->
                        <a href="#">
                            MUTUAL FUNDS
                        </a>
                    <!-- </div> -->
                    <!-- <div class="navs"> -->
                        <a href="#">
                            UTILITIES
                        </a>
                    <!-- </div> -->
        
                </div>
        
                <div class="help_support">
        
                        <div class="help_title_text">
                        <p>
                            HELP/SUPPORT
                        </p>
                        </div>
            
                            <a href="#">
                                Frequently Asked Questions
                            </a>
                            <a href="#">
                                Terms & Conditions
                            </a>
                            <a href="#">
                                About Us
                            </a>
                            <a href="#">
                                Blog
                            </a>
            
                    </div>
                
        
                    <div class="side_nav_logout">
                        <a href="#">
                            <i class="fas fa-power-off"></i>
                            Logout
                        </a>
                    </div>
        
            </div>

    <!-- side Nav -->

    <div class="side_nav">

        <div class="site_title">
            <h5>
                savesimple <sup> &reg; </sup>
            </h5>
        </div>

        <div class="nav_menu">

            <div class="navigation_title_text">
            <p>
                NAVIGATION
            </p>
            </div>

            <!-- <div class="navs"> -->
                <a href="#" class="active">
                    DASHBOARD
                </a>
            <!-- </div> -->
            <!-- <div class="navs"> -->
                <a href="#">
                    SAVINGS
                </a>
            <!-- </div> -->
            <!-- <div class="navs"> -->
                <a href="#">
                    INVESTMENTS
                </a>
            <!-- </div> -->
            <!-- <div class="navs"> -->
                <a href="#">
                    MUTUAL FUNDS
                </a>
            <!-- </div> -->
            <!-- <div class="navs"> -->
                <a href="#">
                    UTILITIES
                </a>
            <!-- </div> -->

        </div>

        <div class="help_support">

                <div class="help_title_text">
                <p>
                    HELP/SUPPORT
                </p>
                </div>
    
                    <a href="#">
                        Frequently Asked Questions
                    </a>
                    <a href="#">
                        Terms & Conditions
                    </a>
                    <a href="#">
                        About Us
                    </a>
                    <a href="#">
                        Blog
                    </a>
    
            </div>
        

            <div class="side_nav_logout">
                <a href="#">
                    <i class="fas fa-power-off"></i>
                    Logout
                </a>
            </div>

    </div>

    <!--  -->

    <!-- Main Body Wrapper -->
    <div class="main_body_wrapper">

            

    <!-- All Navs Section (Side Nav and top Nav) -->
    <section>


    <!-- Page Main Wrapper (Excluding the sideNav) -->

    <div class="dash_main_page_wrappper">

        <!-- Dashboard Nav bar -->

        <div class="dash_top_nav">

            <!-- Mobile SideNav Opener -->

            <div class="dashboard_sideNav_open">
                <!-- <span></span> -->
                <button>
                        &#9776;
                </button>
            </div>

            <!-- End of Mobile SideNav Opener -->

            <!-- Notification Box -->

            <div class="complete_notification">

                <p>
                    Hi AbdulAzeez! you are yet to complete your account setup 
                </p>

            </div>

            <!-- End of Notification Box -->

            <!-- Nav right Section -->

            <div class="nav_functions">

                <!-- Notification Bell -->

                <div class="notification_bell">

                    <div class="bell_icon">

                        <img src="../utils/icons/notification.png" alt="">

                        <div class="status_dot">

                        </div>
                    </div>

                </div>

                <!--  -->

                <!-- Seetings Icon -->
                <div class="settings_icon">

                    <img src="../utils/icons/settings-work-tool.png" alt="">

                </div>
                <!--  -->

                
                <!-- Profile Box -->

                <div class="dropdown">
                        <div class="user_image">

                                <img src="../utils/images/user.png" alt="">
        
                            </div>
                <div class="dropdown-toggle account_functions" data-toggle="dropdown">

                    
                    <div class="user_name">

                        <h6>
                            Abdulazeez
                        </h6>

                        <p>
                            Manage Account
                        </p>

                    </div>
                </div>
            
                    <div class="dropdown-menu animated bounce">
                            <a class="dropdown-item" href="#">
                                    <i class="fas fa-user"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                    <i class="fas fa-lock"></i>
                                Change Password
                            </a>
                            <a class="dropdown-item" href="#">
                                    <i class="fas fa-cog"></i>
                                Settings
                            </a>
                            <a class="dropdown-item nav_item_logout" href="#">
                                    <i class="fas fa-power-off"></i>
                                    Logout
                                </a>
                          </div>
            </div>

            </div>

            <!-- End of Nav right Section -->

        </div>



    </div>

    </section>

    <!--  -->

    <section class="body_space">

        <div class="investment_upper_part">

            <div class="investment_upper_part_title">
                <div class="first_child">
                <h4>
                        My Portfolio                   
                </h4>
                <!-- <p>
                        Select your savings plan of interest 
                </p> -->
            </div>

            <div class="second_child">
                <div class="second_child_icon main">
                        <i class="fas fa-search main"></i>
                </div>
                <div class="second_child_input main">
                    <input type="text" name="" id="" placeholder="Search....">
                </div>
                <div class="second_child_filter main my_savinngs_header_addNewLink">
                    
                    <p>
                        <a href="#">
                        <span>
                            +
                        </span>
                        Add new
                        </a>
                    </p>
                    
                </div>
                
            </div>
            </div>

            

        </div>

        <div class="d-flex justify-content-center py-5">
            <div class="py-5">
                    <img src="../utils/images/chart.png" alt="">
            </div>
        </div>

        
        <div class="savings_plan_for_interest">

            <div class="savings_plan_for_interest_options ontrack">

                <div class="header">
                    <h5>
                            Theresa’s New Macbook
                    </h5>
                </div>

                <div class="savings_breakdown_interest">

                    <div>
                        <span>
                                Target Goal
                        </span>
                        <p>
                                ₦ 120,000.00
                        </p>
                    </div>
                    <div>
                            <span>
                                    Contribution
                            </span>
                            <p>
                                    ₦ 50,000.00
                            </p>
                    </div>
                    <div>
                            <span>
                                    Interest
                            </span>
                            <p>
                                    ₦ 4,512.07
                            </p>
                    </div>

                </div>

                <div class="savings_interest_progress">

                    <div class="savings_progresss_text">

                        <div>
                            <span>
                                    40% saved
                            </span>
                        </div>
                        <div>
                            <span>
                                    Ontrack
                            </span>
                        </div>

                    </div>

                    <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                    </div>

                </div>

            </div>

            <div class="savings_plan_for_interest_options notontrack">

                    <div class="header">
                        <h5>
                                Theresa’s New Macbook
                        </h5>
                    </div>
    
                    <div class="savings_breakdown_interest">
    
                        <div>
                            <span>
                                    Target Goal
                            </span>
                            <p>
                                    ₦ 120,000.00
                            </p>
                        </div>
                        <div>
                                <span>
                                        Contribution
                                </span>
                                <p>
                                        ₦ 50,000.00
                                </p>
                        </div>
                        <div>
                                <span>
                                        Interest
                                </span>
                                <p>
                                        ₦ 4,512.07
                                </p>
                        </div>
    
                    </div>
    
                    <div class="savings_interest_progress">
    
                        <div class="savings_progresss_text">
    
                            <div>
                                <span>
                                        40% saved
                                </span>
                            </div>
                            <div>
                                <span>
                                        Ontrack
                                </span>
                            </div>
    
                        </div>
    
                        <div class="progress">
                                <div class="progress-bar" style="width:70%"></div>
                        </div>
    
                    </div>
    
                </div>

                <div class="savings_plan_for_interest_options ontrack">

                        <div class="header">
                            <h5>
                                    Theresa’s New Macbook
                            </h5>
                        </div>
        
                        <div class="savings_breakdown_interest">
        
                            <div>
                                <span>
                                        Target Goal
                                </span>
                                <p>
                                        ₦ 120,000.00
                                </p>
                            </div>
                            <div>
                                    <span>
                                            Contribution
                                    </span>
                                    <p>
                                            ₦ 50,000.00
                                    </p>
                            </div>
                            <div>
                                    <span>
                                            Interest
                                    </span>
                                    <p>
                                            ₦ 4,512.07
                                    </p>
                            </div>
        
                        </div>
        
                        <div class="savings_interest_progress">
        
                            <div class="savings_progresss_text">
        
                                <div>
                                    <span>
                                            40% saved
                                    </span>
                                </div>
                                <div>
                                    <span>
                                            Ontrack
                                    </span>
                                </div>
        
                            </div>
        
                            <div class="progress">
                                    <div class="progress-bar" style="width:70%"></div>
                            </div>
        
                        </div>
        
                    </div>
        
                    <div class="savings_plan_for_interest_options notontrack">
        
                            <div class="header">
                                <h5>
                                        Theresa’s New Macbook
                                </h5>
                            </div>
            
                            <div class="savings_breakdown_interest">
            
                                <div>
                                    <span>
                                            Target Goal
                                    </span>
                                    <p>
                                            ₦ 120,000.00
                                    </p>
                                </div>
                                <div>
                                        <span>
                                                Contribution
                                        </span>
                                        <p>
                                                ₦ 50,000.00
                                        </p>
                                </div>
                                <div>
                                        <span>
                                                Interest
                                        </span>
                                        <p>
                                                ₦ 4,512.07
                                        </p>
                                </div>
            
                            </div>
            
                            <div class="savings_interest_progress">
            
                                <div class="savings_progresss_text">
            
                                    <div>
                                        <span>
                                                40% saved
                                        </span>
                                    </div>
                                    <div>
                                        <span>
                                                Ontrack
                                        </span>
                                    </div>
            
                                </div>
            
                                <div class="progress">
                                        <div class="progress-bar" style="width:70%"></div>
                                </div>
            
                            </div>
            
                        </div>



        </div>


    </section>

    

    </div>
    <!--  -->






    
    <script src="../scripts/js/jQuery.min.js"></script>    
    <script src="../scripts/js/main.js"></script> 
</body>
</html>